<h2>Ask page</h2>

<form action="answer" data-turbo="false">
  <label>Ask your coach anything:</label>
  <br>
  <input type="text" name="input">
  <input id = "button" type="submit" value="Ask!">
</form>
